<!doctype html>
<html lang="nl-NL">
<head>
    <meta charset="UTF-8">
    <title>Gezellig</title>

    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <script src="web/jquery.ui.touch-punch.min.js"></script>

    <script src="web/application.js"></script>

    <link rel="stylesheet" href="web/application.css"/>
</head>
<body>
{% block pagecontent %}{% endblock %}
</body>
</html>