<!doctype html>
<html lang="nl-NL">
<head>
    <meta charset="UTF-8">
    <title>Gezellig</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="web/application.js" />

    <link rel="stylesheet" href="web/application.css"/>
</head>
<body>
{% block pagecontent %}{% endblock %}
</body>
</html>