{% include 'base.twig' %}
{%  block pagecontent %}
    <div class="select-categories">
        <div class="loading">
            <p>
                Een moment geduld a.u.b., we halen nu relevante foto's op.
            </p>
        </div>
    </div>
{% endblock %}