{% include 'base.twig' %}
{%  block pagecontent %}
    <div class="intro">
        <h1>Gezellig: Bespreek samen foto's van vroeger!</h1>
        <p>
            Het bespreken van oude foto's is een leuke activiteit voor een dementerende en een
            begeleider. U, de begeleider, kiest in twee stappen de juiste foto's uit, en daarna kunnen we direct beginnen.
        </p>
    </div>
    <img src="web/header.jpg" class="headerimg" />
    <div class="largeform">
        <h2>Voor de begeleider: Waar is uw gesprekspartner opgegroeid?</h2>
        <form method="post" action="savecity">
            <select name="city" class="introselect">
                {% for gemeente in gemeenten %}
                    <option value="{{ gemeente }}">
                        {{ gemeente }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Volgende" />
        </form>
    </div>
{% endblock %}