{% include 'base.twig' %}
{%  block pagecontent %}
    <div class="intro">
        <h1>Gezellig: Bespreek samen foto's van vroeger!</h1>
        <p>
            Het bespreken van oude foto's is een leuke activiteit voor een dementerende en een
            begeleider. Selecteer hieronder de plaats waar uw medespeler opgegroeid is, en we kunnen direct beginnen.
        </p>
    </div>
    <div class="largeform">
        <h2>Waar bent u opgegroeid?</h2>
        <form method="post" action="savecity">
            <select name="city">
                {% for gemeente in gemeenten %}
                    <option value="{{ gemeente }}">
                        {{ gemeente }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Volgende" />
        </form>
    </div>
{% endblock %}